.vscode/

build/
extract/*
/m2ctx

*bios.bin

fe11_*/
*.nds
*.sav
*.xMAP

# Objdiff
objdiff.json
report.json

/dsd
/dsd.exe

build.ninja
.ninja_log

__pycache__/
tools/mwccarm/

# Clang
.cache/
compile_commands.json
